<div class="container">

    <%= simple_form_for (@service) do |f| %>
    <%= f.input :name  %>
    <%= f.input :description %>
    <%= f.input :color %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
    <%end  %>
</div>
