<div class="container-tasks">
  <h2>Vos services</h2>

  <div class="row row-tasks">
    <% @user_service.each do |user_service| %>
      <div class="col-6 mt-5">
        <div class="card-tasks" style="border-left: 24px solid <%= user_service.service.color %>;">
          <div class="card-task-top">
            <h3> <%= user_service.service.name %> </h3>
            <%= link_to new_user_service_task_path(user_service) do %>
              <i class="fas fa-plus"></i>
            <%  end %>
          </div>
          <hr id="line">
          <div class="row row-task">
            <% uniq_user_service = [] %>
            <% @user_service.filter %>
            <% user_service.tasks << uniq_user_service %>
            <% user_service.tasks.each do |task| %>
              <div class="col-12">
                <div class="task">

                  <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                    <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                  <% end %>



                  <p><%= task.title.capitalize %> <p>
                  <p><%= task.end_date %> jours <i class="fas fa-clock"></i> </p>
                  <%= link_to edit_user_service_task_path(user_service,task) do %>
                    <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%#  <h2>Essentiels</h2> %>
