<div class="container-tasks-special">
  <h2>L'essentiel de vos tâches</h2>
<div class="row row-tasks">

      <div class="col-6 mt-5">
        <div class="card-tasks" style="border-left: 24px solid #000000;">
          <div class="card-task-top">
            <h3> Fin des taches </h3>
          </div>
          <hr id="line">
          <div class="row row-task">

            <% @tasks_not_done.order('end_date ASC NULLS FIRST').each do |task| %>
              <% unless task.end_date.nil? || (task.end_date.day - Date.today.day) > 7 %>
              <div class="col-12">
                <div class="task">
                  <% if  task.end_date == nil %>
                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>

                      <div class="justify">
                        <p style=""><%= task.title.capitalize %> <p>
                        <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                          <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                        <% end %>
                      </div>

                    <% elsif (task.end_date.day - Date.today.day) <= 2 %>
                      <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                        <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                      <% end %>

                      <div class="justify">
                        <p style="color: #FF8181;"><%= task.title.capitalize %> <p>
                        <p style="color: #FF8181"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end  %>

                    <% elsif (task.end_date.day - Date.today.day) < 7 %>
                      <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                        <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                      <% end %>

                      <div class="justify">
                        <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                        <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>

                    <% elsif (task.end_date.day - Date.today.day) == 7 %>
                      <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                        <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                      <% end %>
                      <div class="justify">
                        <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                        <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-tasks">
  <h2>Vos services</h2>

  <div class="row row-tasks">

    <% @user_service.each do |user_service| %>
      <div class="col-6 mt-5">
        <div class="card-tasks" style="border-left: 24px solid <%= user_service.service.color %>;">
          <div class="card-task-top">
            <h3> <%= user_service.service.name %> </h3>
            <%= link_to new_user_service_task_path(user_service) do %>
              <i class="fas fa-plus"></i>
            <%  end %>
          </div>
          <hr id="line">
          <div class="row row-task">

            <% user_service.tasks.order('done ASC, end_date ASC NULLS FIRST').each do |task| %>

              <div class="col-12">
                <div class="task">

                  <% if task.done == false && task.end_date == nil %>
                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>

                    <div class="justify">
                      <p style=""><%= task.title.capitalize %> <p>
                      <%= link_to edit_user_service_task_path(user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>
                    </div>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) < 0 %>

                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>
                    <div class="justify">
                      <p style="color: #FF8181;"><%= task.title.capitalize %> <p>
                      <p style="color: #FF8181"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) < 2 %>
                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>

                    <div class="justify">
                      <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                      <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) >= 2 %>
                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>

                    <div class="justify">
                      <p style=""><%= task.title.capitalize %> <p>
                      <p><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                  <% elsif task.done == true %>

                    <%= simple_form_for task, url: task_finished_path(task), html: { data: { controller: "check-task", check_task_target: "form" } } do |f| %>
                      <%= f.input :done, label: false, input_html: { data: { action: "click->check-task#next" } } %>
                    <% end %>
                    <div class="justify">
                      <p style="color: #B7B7B7; text-decoration: line-through;"><%= task.title.capitalize %> <p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
