<div class="banner-statistics">
  <div class="row statistics-row">
    <div class="col-3">
      <div class="macaron">
          <% tasks_done = []%>
          <% tasks_pending = []%>
          <% current_user.tasks.each do |task|  %>
            <% if task.done == true  %>
              <% tasks_done << task.done  %>
              <% else %>
              <% tasks_pending << task.done  %>
              <% end  %>
            <% end  %>
        <h2><%= current_user.tasks.count %></h2>
        <p>Toutes les tâches</p>
      </div>
    </div>
    <div class="col-3">
      <div class="macaron">
        <h2><%= tasks_pending.size %></h2>
        <p>Tâches en attente</p>
      </div>
    </div>
    <div class="col-3">
      <div class="macaron">
        <h2><%=tasks_done.size %></h2>
        <p>Tâches effectuées</p>
      </div>
    </div>
    <div class="col-3">
      <div class="doughnut">
        <canvas
          data-controller="chart"
          data-chart-type-value="doughnut"
          data-chart-data-value= "<%= @doughnut_data.to_json %>"
          data-chart-options-value= "<%= @doughnut_options.to_json %>"
        ></canvas>
      </div>
      </div>
  </div>
</div>




<div class="container-tasks-special">
  <h2>L'essentiel de vos tâches</h2>
<div class="row row-tasks">

      <div class="col-6 mt-5">
        <div class="card-tasks" style="border-left: 24px solid #000000;">
          <div class="card-task-top">
            <h3> Fin des tâches </h3>
          </div>
          <hr id="line">
          <div class="row row-task">

            <% @tasks_not_done.order('end_date ASC NULLS FIRST').each do |task| %>
              <% unless task.end_date.nil? || (task.end_date.day - Date.today.day) > 6 %>
              <div class="col-12">
                <div class="task">
                  <% if  task.end_date == nil %>
                    <%= render 'task', task: task %>

                      <div class="justify">
                        <p style=""><%= task.title.capitalize %> <p>
                        <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                          <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                        <% end %>
                      </div>

                    <% elsif (task.end_date.day - Date.today.day) <= 2 %>
                      <%= render 'task', task: task %>

                      <div class="justify">
                        <p style="color: #FF8181;"><%= task.title.capitalize %> <p>
                        <p style="color: #FF8181"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end  %>

                    <% elsif (task.end_date.day - Date.today.day) < 6 %>
                      <%= render 'task', task: task %>

                      <div class="justify">
                        <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                        <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>

                    <% elsif (task.end_date.day - Date.today.day) == 6 %>
                      <%= render 'task', task: task %>
                      <div class="justify">
                        <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                        <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                      </div>
                      <%= link_to edit_user_service_task_path(task.user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-tasks">
  <h2>Vos services</h2>

  <div class="row row-tasks">

    <% @user_service.each do |user_service| %>
      <div class="col-6 mt-5">
        <div class="card-tasks" style="border-left: 24px solid <%= user_service.service.color %>;">
          <div class="card-task-top">
            <h3> <%= user_service.service.name %> </h3>
            <%= link_to new_user_service_task_path(user_service) do %>
              <i class="fas fa-plus"></i>
            <%  end %>
          </div>
          <hr id="line">
          <div class="row row-task">

            <% user_service.tasks.order('done ASC, end_date ASC NULLS FIRST').each do |task| %>

              <div class="col-12">
                <div class="task">

                  <% if task.done == false && task.end_date == nil %>
                    <%= render 'task', task: task %>

                    <div class="justify">
                      <p style=""><%= task.title.capitalize %> <p>
                      <%= link_to edit_user_service_task_path(user_service,task) do %>
                        <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                      <% end %>
                    </div>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) < 0 %>
                    <%= render 'task', task: task %>
                    <div class="justify">
                      <p style="color: #FF8181;"><%= task.title.capitalize %> <p>
                      <p style="color: #FF8181"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) < 2 %>
                    <%= render 'task', task: task %>

                    <div class="justify">
                      <p style="color: #D16E11"><%= task.title.capitalize %> <p>
                      <p style="color: #D16E11"><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                  <% elsif task.done == false && (task.end_date.day - Date.today.day) >= 2 %>
                    <%= render 'task', task: task %>

                    <div class="justify">
                      <p style=""><%= task.title.capitalize %> <p>
                      <p><%= task.end_date.day - Date.today.day %> jours <i class="fas fa-clock"></i> </p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>

                    <% elsif task.done == true %>
                    <%= render 'task', task: task %>
                    <div class="justify">
                      <p style="color: #B7B7B7; text-decoration: line-through;"><%= task.title.capitalize %> <p>
                    </div>
                    <%= link_to edit_user_service_task_path(user_service,task) do %>
                      <i class="fas fa-ellipsis-h" style="color: #000000"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
