<div class="banner-statistics">
  <div class="row statistics-row">
    <div class="col-3">
      <div class="macaron">
          <% tasks_done = []%>
          <% tasks_pending = []%>
          <% current_user.tasks.each do |task|  %>
            <% if task.done == true  %>
              <% tasks_done << task.done  %>
              <% else %>
              <% tasks_pending << task.done  %>
              <% end  %>
            <% end  %>
        <h2><%= current_user.tasks.count %></h2>
        <p>Toutes les tâches</p>
      </div>
    </div>
    <div class="col-3">
      <div class="macaron">
        <h2><%= tasks_pending.size %></h2>
        <p>Tâches en attente</p>
      </div>
    </div>
    <div class="col-3">
      <div class="macaron">
        <h2><%=tasks_done.size %></h2>
        <p>Tâches effectuées</p>
      </div>
    </div>
    <div class="col-3">
      <% if @tasks.count == 0 %>
        <div class="data-img">
          <%= image_tag "data.png" %>
        </div>
      <% elsif @tasks.count >= 1 %>
        <div class="doughnut">
          <canvas
            data-controller="chart"
            data-chart-type-value="doughnut"
            data-chart-data-value= "<%= @doughnut_data.to_json %>"
            data-chart-options-value= "<%= @doughnut_options.to_json %>"
          ></canvas>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="my-services">
  <div class="ajouter-un-service">
    <h2 id="no-margin">Mes Services</h2>
    <%= link_to '+ Ajouter un service', user_services_path(anchor: 'service-section'), style:"color: #000000"%>
  </div>
    <hr>
    <div class="row services-row">
        <% @user_services.each do |user_service| %>
          <div class="col-4 mt-4">
            <div class="card-services" style="border-top: 24px solid <%= user_service.service.color %>; ">
              <div class="name-service">
                <%= link_to user_service.service.name, user_service_path(user_service), class:"service-name" %>
                <div class="logo-service">
                  <%= user_service.service.photo.attached? ? cl_image_tag(user_service.service.photo.key) : ""%>
                  <%#= image_tag "poleemploi.png" %>
                </div>
              </div>
              <hr id="line" style=" color: <%= user_service.service.color%> ">
              <div class="options-service">
                <p>Vos informations</p>
                <div class="options">
                  <%= link_to edit_user_service_path(user_service), class:"edit" do %>
                    <%= show_svg('edite.svg') %>
                  <% end %>
                  <%= link_to user_service_path(user_service), method: :delete, data: {confirm: "Confirmez vous la suppression de ce service ainsi que toutes les taches associées?"} do %>
                    <%= show_svg('supprimer.svg') %>
                  <% end %>
                </div>
              </div>
              <hr id="line2">
              <div class="card-services-infos">
                <p id="contact-name"><%= show_svg('personne.svg') %> <%= user_service.contact_name %> </p>
                <p id="telephone"><%= show_svg('telephone.svg')  %> <%= user_service.contact_phone %> </p>
                <p id="email"><%= show_svg('mail.svg')  %> <%= user_service.contact_email %> </p>
                <% task_pending = [] %>
                <% tasks_done = []%>
                <% user_service.tasks.each do |task|  %>
                <% if task.done == true  %>
                  <% tasks_done << task.done  %>
                <% else  %>
                  <% task_pending << task.done %>
                <% end %>
                <% end %>
                <p><%= show_svg('done.svg') %> <strong> <%=tasks_done.size %> </strong> Tâches réalisées</p>
                <p><%= show_svg('pending.svg') %> <strong> <%=task_pending.size %> </strong> Tâches en attente</p>
                <p><%= show_svg('task.svg') %> <strong><%= link_to "Voir vos tâches", tasks_path(@task, anchor: 'task'), class:"button-user-service" %></strong></p>
              </div>

            </div>
          </div>
        <% end %>
    </div>
</div>

<div class="available-services">
  <h2 id="service-section">Ajouter un Service</h2>
  <hr>
  <div class="row services-row">
    <% @services.each do |service| %>
      <div class="col-4 mt-4">
        <div class="card-available-services" style="border-top: 24px solid <%= service.color %>;">
          <div class="card-top">
            <div class="logo-service">
              <%= service.photo.attached? ? cl_image_tag(service.photo.key) : ""%>
            </div>
            <div>
              <%= link_to new_service_user_service_path(service), class: "plus" do %>
                <%= show_svg('ajouter.svg') %>
              <% end %>
              <%= link_to service_path(service), method: :delete, data: {confirm: "Confirmez vous la suppression de ce service?"} do %>
                  <%= show_svg('supprimer.svg') %>
              <% end %>
            </div>
          </div>
          <div class="card-bottom">
            <%= link_to service.name, new_service_user_service_path(service), class: "service-name" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-4 mt-4">
      <div class="card-available-services" style="border-top: 24px solid #000000;">
        <div class="card-top">
          <div class="logo-service">
          </div>
          <%= link_to new_service_path do %>
            <%= show_svg('ajouter.svg') %>
          <%  end %>
        </div>
        <div class="card-bottom">
          <p class="service-name">Créez votre service</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if flash[:created] %>
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 Votre service a bien été créé </span>
  <a data-bs-dismiss="alert" aria-label="Close" class="p-2">
    <i class="fas fa-times" style="color: #000000"></i>
  </a>
</div>
<% end %>

<% if flash[:destroyed] %>
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Ok!</strong> 😱 Votre service a bien été supprimé </span>
  <a data-bs-dismiss="alert" aria-label="Close" class="p-2">
    <i class="fas fa-times" style="color: #000000"></i>
  </a>
</div>
<% end %>
