<div class="banner-statistics">
  <div class="row statistics-row">
    <div class="col-4">
      <div class="macaron">
          <% tasks_done = []%>
          <% tasks_pending = []%>
          <% current_user.tasks.each do |task|  %>
            <% if task.done == true  %>
              <% tasks_done << task.done  %>
              <% else %>
              <% tasks_pending << task.done  %>
              <% end  %>
            <% end  %>
        <h2><%= current_user.tasks.count %></h2>
        <p>Toutes les tâches</p>
      </div>
    </div>
    <div class="col-4">
      <div class="macaron">
        <h2><%=tasks_done.size %></h2>
        <p>Tâches effectuées</p>
      </div>
    </div>
    <div class="col-4">
      <div class="macaron">
        <h2><%= tasks_pending.size %></h2>
        <p>Tâches en attente</p>
      </div>
    </div>
  </div>
</div>


<div class="my-services">
  <h2>Mes services</h2>
    <div class="row services-row">
        <% @user_services.each do |user_service| %>
          <div class="col-4 mt-4">
            <div class="card-services" style="border-top: 24px solid <%= user_service.service.color %>; ">
              <div class="name-service">
                <%= link_to user_service.service.name, user_service_path(user_service), class:"service-name" %>
                <div class="logo-service">
                  <%= image_tag "poleemploi.png" %>
                </div>
              </div>
              <hr id="line" style=" color: <%= user_service.service.color%> ">
              <div class="options-service">
                <p>Vos informations</p>
                <div class="options">
                  <%= link_to edit_user_service_path(user_service) do %>
                    <i class="fas fa-pen" style="color: #000000"></i>
                  <% end %>
                  <%= link_to user_service_path(user_service), method: :delete do %>
                    <i class="fas fa-trash" style="color: #000000"></i>
                  <% end %>
                </div>
              </div>
              <hr id="line2">
              <div class="card-services-infos">
                <p id="contact-name"><i class="fas fa-user-alt"></i> <%= user_service.contact_name %> </p>
                <p id="telephone"><i class="fas fa-phone-alt"></i> <%= user_service.contact_phone %> </p>
                <p id="email"><i class="fas fa-envelope"></i> <%= user_service.contact_email %> </p>
                <p> <i class="fas fa-check"></i> Tâches réalisés</p>
              </div>

            </div>
          </div>
        <% end %>
    </div>
    <hr>
</div>

<div class="available-services">
  <h2>Services disponibles</h2>
  <div class="row services-row">
    <% @services.each do |service| %>
      <div class="col-4 mt-4">
        <div class="card-available-services" style="border-top: 24px solid <%= service.color %>;">
          <div class="card-top">
            <div class="logo-service">
              <%= image_tag "poleemploi.png" %>
            </div>
            <%= link_to new_service_user_service_path(service) do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
          <div class="card-bottom">
            <%= link_to service.name, new_service_user_service_path(service), class: "service-name" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-4 mt-4">
      <div class="card-available-services" style="border-top: 24px solid #000000;">
        <div class="card-top">
          <div class="logo-service">
          </div>
          <%= link_to new_service_path do %>
            <i class="fas fa-plus"></i>
          <%  end %>
        </div>
        <div class="card-bottom">
          <p class="service-name">Créez votre service</p>
        </div>
      </div>
    </div>
  </div>
</div>
