<div class="Container">
  <div class="row edit-us-show">
    <h3 class="h3"> <%= @service.name %></h3>
    <div class="row p-2 m-3">
        <%= simple_form_for [@service, @user_service] do |f| %>
        <%= f.input :contact_name, label: 'Nom, prénom' %>
        <%= f.input :contact_phone, label: 'Téléphone' %>
        <%= f.input :contact_email, label: 'Adresse e-mail' %>
        <%= f.input :contact_address, label: 'Adresse postale' %>
        <%= f.submit "Créer", id: 'link-us-edit' %>
        <% end  %>
    </div>
  </div>
</div>
