<h3> <%= @service.name %></h3>

<div class="container">

    <%= simple_form_for [@service, @user_service] do |f| %>
    <%= f.input :contact_name  %>
    <%= f.input :contact_phone %>
    <%= f.input :contact_email %>
    <%= f.input :contact_address %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
    <%end  %>
</div>
