<div class="Container">
  <div class="row edit-us-show">
    <h3 class="h3"> <%= @service.name %></h3>
    <div class="row p-2 m-3">
        <%= simple_form_for [@service, @user_service] do |f| %>
        <%= f.input :contact_name  %>
        <%= f.input :contact_phone %>
        <%= f.input :contact_email %>
        <%= f.input :contact_address %>
        <%= f.submit "Submit", class: 'link-us-edit' %>
        <% end  %>
    </div>
  </div>
</div>
