<div class="container-US-show">
  <div class="row US-show">
    <div class="col-7 border-end border-2">
      <h3><%= @service.name %></h3>
        <hr id="line" style="color: <%= @user_service.service.color %>">
          <p><%= @service.description %></p>
          <p><i class="fas fa-user-alt"> - </i> <%= @user_service.contact_name%></p>
          <p><i class="fas fa-envelope"> - </i> <%= @user_service.contact_email%></p>
          <p><i class="fas fa-phone-alt"> - </i> <%= @user_service.contact_phone%></p>
          <p><i class="fas fa-map-marker-alt"> - </i> <%= @user_service.contact_address%></p>
          <% tasks_done = [] %>
            <% @user_service.tasks.each do |task|  %>
              <% if task.done == true  %>
              <% tasks_done << task.done  %>
              <% end %>
            <% end %>
        <p><i class="fas fa-check"> - </i> <%=tasks_done.size %> Tâches réalisées sur <%= @user_service.tasks.count %>  </p>
    </div>
    <div class="col-5">
      <div style="width: 100%; height: 350px; border-radius: 5px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>
