<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand-new" do %>
      <%= "Tikit." %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if current_page?(tasks_path) %>">
            <%= link_to "Ajouter une tâche", tasks_path, class: "nav-link-new" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(user_services_path) %>">
            <%= link_to "Gérer mes services", user_services_path, class: "nav-link-new" %>
          </li>
          <div class="user-container">
            <li class="nav-item dropdown">
              <% if nearly_done_tasks.count == 0 %>
                <i id="notification" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= show_svg('bell.svg') %></i>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
                  <%= link_to tasks_path, class: "dropdown-item" do %>
                  <%= "Vous êtes à jour dans vos tâches" %>
                  <% end %>
                </div>

              <% elsif nearly_done_tasks.count >= 1 %>

                <i id="notification" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= show_svg('bell-active.svg') %></i>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
                  <%= link_to tasks_path(anchor: 'urgent-task-section'), class: "dropdown-item" do %>
                    <%= nearly_done_tasks.count %> <%= "Tâches urgentes" %>
                  <% end %>
                </div>
              <% end %>


              <%= image_tag "thib.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

              <i class="fas fa-angle-down" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link-new-user" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
