<div class="banner-homepage">
  <div class="row banner-row">
    <div class="col-6">
      <div class="banner-info">
        <h1>Managez toutes vos tâches générées par Tikit.</h1>
        <p>Inscrivez-vous à notre bibliothèque de services et générez toutes vos tâches en un clic que vous soyez un particulier ou une entreprise.</p>
        <%= link_to "Commencer", user_services_path, class: "nav-link-new-user" %>
      </div>
    </div>
    <div class="col-6">
      <div class="banner-img">
        <%= image_tag "banner-homepage.png", class: "img-banner-homepage" %>
      </div>
    </div>
  </div>
</div>

<div class="tutorial">
  <div class="row tutorial-row">
    <div class="col-6">
      <%= image_tag "informations.png", class: "img-informations" %>
    </div>
    <div class="col-6">
      <div class="tutorial-info">
        <h2>Tikit. une plateforme facile pour rester organisé</h2>
        <ul>
          <li id="number">1</li>
          <li id="text">Connectez-vous à notre site Web</li>
        </ul>
        <ul>
          <li id="number">2</li>
          <li id="text">Remplissez les informations nécessaires</li>
        </ul>
        <ul>
          <li id="number">3</li>
          <li id="text">Découvrez nos bibliothèques de services</li>
        </ul>
        <ul>
          <li id="number">4</li>
          <li id="text">Regardez vos tâches ce générées automatiquement</li>
        </ul>
        <ul>
          <li id="number">5</li>
          <li id="text">Restez organisé grâce à nous !</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="explore">
  <div class="row explore-row">
    <div class="col-6">
      <div class="explore-info">
        <h2>Tick ta vie</h2>
        <p>Nous avons des experts pour tous les services - le tout sous un même toit ! Vous pouvez trouver tout, des Impôts au Pôle Emploi en passant par la CAF et bien d'autres encore sur Tikit.</p>
        <%= link_to "Explorer", user_services_path, class: "nav-link-new-user" %>
      </div>
    </div>
    <div class="col-6">
      <div class="explore-img">
        <%= image_tag "done.png", class: "img-done" %>
      </div>
    </div>
  </div>
</div>

<div class="testimonial">
  <h3>AVIS</h3>
  <h2>Ce qu'ils disent de nous</h2>
  <div class="row testimonial-row">
    <div class="col-4">
      <div class="card-avis">
        <%= image_tag "thib.jpg", class: "avatar" %>
        <h4 id="name">Thibaut Danel</h4>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p id="text">J'utilise Tikit depuis un certain temps maintenant et je dois dire que c'est la meilleure plate-forme de tâches que j'ai utilisée. La qualité des pigistes sur ce site est très élevée et ils sont totalement fiables. Je vous le recommande fortement!</p>
      </div>
    </div>
    <div class="col-4">
        <div class="card-avis">
          <%= image_tag "gerard.jpg", class: "avatar" %>
          <h4 id="name">Gerard Moreno</h4>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p id="text">Je suis tellement heureux parce THIBAULT que les talents indépendants avec lesquels nous travaillons sont plus productifs que nous ne l'aurions jamais pensé. Recommandé pour les personnes qui souhaitent trouver un freelance professionnel et se faire aider par une plateforme de tâches.</p>
      </div>
    </div>
    <div class="col-4">
        <div class="card-avis">
          <%= image_tag "sam.jpg", class: "avatar" %>
           <h4 id="name">Samantha Micelli</h4>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p id="text">Je suis heureux de dire que j'ai beaucoup réussi grâce à Tikit en tant que solution de haute qualité. Travailler avec Tikit n'est pas seulement plus simple ; il a également été plus efficace. Ayant trouvé un excellent système de tâches, je ne peux pas imaginer passer à une autre plate-forme.</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row footer-row">
    <h2>Tikit.</h2>
    <hr>
    <p>© 2022 Tikit. Tous droits réservés</p>
  </div>
</footer>
